[Unit]
Description=Telegram Monitor Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/tg_monitor_bot
ExecStart=/home/tg_monitor_bot/venv/bin/python main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target